:root{--primary-color: #6e6666;--link-color: #fff;--link-color-hover: #822dcc;--font-family: 'Raleway';--font-weight: 300;--h1-font-family: 'Oswald';--h2-font-family: 'Oswald';--h3-font-family: 'Oswald';--p-color: #eee;--p-font-family: 'Raleway';--p-letter-spacing: 0px;--label-color: rgb(236, 198, 10);--asterisk-color: rgb(236, 198, 10);--form-color: rgba(236, 198, 10, 0.54);--thank-you-text-color: rgb(236, 198, 10);--form-background-color: rgba(255, 255, 255, 0);--form-border-color: rgba(221, 221, 221, 0.35);--form-border-radius: 0px 0px 0px 0px;--gutter-compensation: -40px;--gutter-vertical: 1.85vh;--module-gutter-vertical: 1vh;--mobile-row-distance: 20px;--mobile-column-distance: 10px;--mobile-element-distance: 10px;--max-grid-ratio: 1.25;--language-switcher-border-color: #d4d4c9;--language-switcher-background-color: #fff;--region-switcher-border-color: #d4d4c9;--region-switcher-background-color: #fff;--region-switcher-popup-background-color: #fff;--form-font-family: 'Aldrich';--form-font-size: 12px;--form-height: 40px;--form-margin-bottom: 10px;--label-margin-bottom: 5px;--thank-you-text-background-color: rgb(10, 9, 2)}.btn{--button-background-color-disabled: #fff;--button-min-width: 115px;--button-height: 39px;--button-border-width: 1px 1px 1px 1px;--button-color: rgb(236, 198, 10);--button-background-color: rgba(255, 255, 255, 0);--button-border-color: rgb(236, 198, 10);--button-border-radius: 0px 0px 0px 0px;--button-font-family: 'Montserrat Alternates';--button-font-size: 10px;--button-letter-spacing: 8.9px;--button-font-weight: 700;--button-padding: 0px 7px 0px 7px}.btn:hover{--button-color: rgb(10, 9, 2);--button-background-color: rgb(236, 198, 10)}
/*
     FILE ARCHIVED ON 14:16:14 Aug 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:37:57 Aug 02, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.034
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.045
  esindex: 0.021
  cdx.remote: 31.965
  LoadShardBlock: 276.185 (3)
  PetaboxLoader3.datanode: 218.63 (4)
  PetaboxLoader3.resolve: 128.841 (2)
  load_resource: 143.265
*/